.header {
  background-color: rgb(var(--base-secondary));
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  
  z-index: 1000;
}

.header-link {
  text-decoration: none;
  color: white;
}

.nav-left {
  height: 40x;
}

.logo-link {
  padding: 4px 6px;

  display: flex;
  align-items: center;
}

.logo-icon {
  height: 40px;
}

.logo-text {
  font-size: 25px;
  margin-left: 15px;
}

.nav-search {
  flex: 1;
  max-width: 800px;

  margin-left: 15px;
  margin-right: 15px;

  display: flex;
}

.search-bar {
  flex: 1;
  max-width: 850px;
  height: 40px;
  font-size: 16px;

  padding-left: 10px;

  outline: none;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.search-button {
  background-color: rgb(var(--light-secondary));
  width: 50px;
  cursor: pointer;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.search-icon {
  transform: scale(1.3);
  margin-top: 6px;
}

.nav-right {
  display: flex;
  align-items: center;
  justify-content: end;
}

.bookmarks-icon {
  transform: scale(1.3);
  margin-top: 7px;
}

.user-avatar {
  margin-left: 20px;
}